## Análise de Dados - Cursos plataforma de ensino *online*

A análise de dados é uma ferramenta essencial para impulsionar os negócios de uma empresa, e consequentemente, agregar valor.
<br>
<br>
Um dos profissionais necessários para a geração de valor para empresas, é o cientista/analista de dados. Este profissional é capaz de retirar insights de diversas fontes de dados.
<br>
<br>
Dito tudo isso, você, como cientista/analista de dados recebeu a missão de analisar dados de uma empresa ensino online de tecnologia. Seu principal objetivo, é através dos dados (disponibilizados na <a href="https://drive.google.com/file/d/1PE-9PTK5twBuUOuuKAk3Oo02Is8Dr8q-/view?usp=share_link">pasta compartilhada</a> deste módulo), é o de responder algumas perguntas de negócios para auxiliar a empresa a aprimorar os seus serviços e produtos.
<br>
<br>
Detalhes da base de dados podem ser vistos na plataforma Kaggle pelo <a href="https://www.kaggle.com/datasets/thedevastator/udemy-courses-revenue-generation-and-course-anal">link</a>
<br>
<br>
Para isso, use os conhecimentos obtidos neste módulo (e anteriores) para responder as seguintes questões:

**Dicas:**

- Serão três diferentes bases de dados disponibilizadas na pasta do módulo, separadas por assunto (curso). Porém, todas elas contêm o mesmo cabeçalho. Logo, para que consiga responder as perguntas abaixo, unifique-as em um único **DataFrame** do pandas, e realize as análises.
- Não é necessário criar gráficos/visualizações para apresentar os resultados de cada pergunta. Porém, se você estiver confortável para criá-los quando necessário, fique à vontade.

### Perguntas a serem respondidas a partir dos dados.

1. Quantos cursos estão disponíveis na plataforma?

In [2]:
import pandas as pd
planilha_1 = pd.read_csv(r"C:\Users\Cristina\Documents\Aulas\Projeto\3.1-data-sheet-udemy-courses-business-courses.csv")
planilha_2 = pd.read_csv(r"C:\Users\Cristina\Documents\Aulas\Projeto\3.1-data-sheet-udemy-courses-design-courses.csv")
planilha_3 = pd.read_csv(r"C:\Users\Cristina\Documents\Aulas\Projeto\3.1-data-sheet-udemy-courses-music-courses.csv")
planilha_4 = pd.read_csv(r"C:\Users\Cristina\Documents\Aulas\Projeto\3.1-data-sheet-udemy-courses-web-development.csv")

cursos = pd.concat([planilha_1, planilha_2, planilha_3, planilha_4], axis=0, ignore_index=True, verify_integrity=True)

In [3]:
cursos

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,49798.0,Bitcoin or How I Learned to Stop Worrying and ...,https://www.udemy.com/bitcoin-or-how-i-learned...,0.0,65576.0,936.0,24.0,All Levels,0.56,8.0,2013-04-20T02:25:22Z,Business Finance
1,48841.0,Accounting in 60 Minutes - A Brief Introduction,https://www.udemy.com/accounting-in-60-minutes...,0.0,56659.0,4397.0,16.0,Beginner Level,0.95,1.5,2013-04-07T21:39:25Z,Business Finance
2,133536.0,Stock Market Investing for Beginners,https://www.udemy.com/the-beginners-guide-to-t...,0.0,50855.0,2698.0,15.0,All Levels,0.91,1.5,2013-12-25T19:53:34Z,Business Finance
3,151668.0,Introduction to Financial Modeling,https://www.udemy.com/financial-modeling-asimp...,0.0,29167.0,1463.0,8.0,All Levels,0.18,1.5,2014-05-27T16:22:16Z,Business Finance
4,648826.0,The Complete Financial Analyst Course 2017,https://www.udemy.com/the-complete-financial-a...,195.0,24481.0,2347.0,174.0,All Levels,0.37,10.0,2016-01-21T01:38:48Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...,...
3676,1227578.0,Learning Path: The Road to Elasticsearch,https://www.udemy.com/learning-path-the-road-t...,200.0,50.0,5.0,60.0,Beginner Level,0.96,5.0,2017-05-29T17:56:24Z,Subject: Web Development
3677,1277924.0,Angular 4 Front To Back,https://www.udemy.com/angular-4-front-to-back/,40.0,44.0,0.0,68.0,All Levels,0.15,8.5,2017-07-06T15:04:55Z,Subject: Web Development
3678,1248172.0,Essentials of Spring 5.0 for Developers,https://www.udemy.com/essentials-of-spring-50-...,125.0,34.0,2.0,21.0,Beginner Level,0.46,1.5,2017-06-11T18:34:40Z,Subject: Web Development
3679,1250934.0,Display and analyze GIS data on the web with L...,https://www.udemy.com/display-and-analyze-gis-...,100.0,25.0,4.0,66.0,Beginner Level,0.67,12.5,2017-06-15T21:17:43Z,Subject: Web Development
3680,1270222.0,Learning Path: Web Applications with Spring an...,https://www.udemy.com/learning-path-web-applic...,200.0,19.0,2.0,33.0,Beginner Level,0.12,4.0,2017-06-28T21:04:21Z,Subject: Web Development

In [4]:
cursos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3681 entries, 0 to 3680
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3676 non-null   float64
 1   course_title         3676 non-null   object
 2   url                  3676 non-null   object
 3   price                3676 non-null   float64
 4   num_subscribers      3676 non-null   float64
 5   num_reviews          3676 non-null   float64
 6   num_lectures         3676 non-null   float64
 7   level                3676 non-null   object
 8   Rating               3677 non-null   float64
 9   content_duration     3676 non-null   float64
 10  published_timestamp  3676 non-null   object
 11  subject              3677 non-null   object
dtypes: float64(7), object(5)
memory usage: 345.2+ KB

In [26]:
len(cursos['course_title'])

3681

2. Quais e quantos são os cursos que abordam o assunto: JavaScript?

In [5]:
cursos["course_title"]= cursos["course_title"].str.lower()

In [9]:
cursos.fillna({"course_title": "vazio"}, inplace=True)

In [10]:
cursos[cursos["course_title"].str.contains("javascript")].shape[0]

137

3. Qual é o preço médio (coluna *price*) dos cursos oferecidos na plataforma?

In [37]:
cursos["price"].mean()

66.11534276387377

In [11]:
cursos['price'].mean().round(2)

66.12

In [38]:
cursos["price"].describe()

count    3676.000000
mean       66.115343
std        61.056073
min         0.000000
25%        20.000000
50%        45.000000
75%        95.000000
max       200.000000
Name: price, dtype: float64

4. Quais são os cinco cursos com maior número de inscritos (coluna *num_subscribers*)?

In [14]:
cursos['num_subscribers']

0       65576.0
1       56659.0
2       50855.0
3       29167.0
4       24481.0
         ...
3676       50.0
3677       44.0
3678       34.0
3679       25.0
3680       19.0
Name: num_subscribers, Length: 3681, dtype: float64

In [15]:
cursos.sort_values("num_subscribers", ascending=False).head(5)[["course_title", "num_subscribers"]]

                                           course_title  num_subscribers
2476               learn html5 programming from scratch         268923.0
2477                     coding for entrepreneurs basic         161029.0
2478                         the web developer bootcamp         121584.0
2479  build your first website in 1 week with html5 ...         120291.0
2480              the complete web developer course 2.0         114512.0

5. Dos cinco cursos mais populares em termos de inscritos, mostre o **rate médio**, **máximo** e **mínimo** de cada um deles.

In [82]:
cursos.sort_values("num_subscribers", ascending=False).head(5)[["Rating"]].describe()

         Rating
count  5.000000
mean   0.746000
std    0.131263
min    0.550000
25%    0.690000
50%    0.780000
75%    0.820000
max    0.890000

In [83]:
cursos.sort_values("num_subscribers", ascending=False).head(5)[["Rating"]].mean()

Rating    0.746
dtype: float64

In [84]:
cursos.sort_values("num_subscribers", ascending=False).head(5)[["Rating"]].max()

Rating    0.89
dtype: float64

In [85]:
cursos.sort_values("num_subscribers", ascending=False).head(5)[["Rating"]].min()

Rating    0.55
dtype: float64

6. Apresente os dez cursos mais visualizados na plataforma.

In [33]:
cursos.sort_values("num_reviews", ascending=False).head(10)[["num_reviews", "course_title", "Rating", "num_subscribers"]]

,num_reviews,course_title,Rating,num_subscribers
2478,27445.0,the web developer bootcamp,0.89,121584.0
2480,22412.0,the complete web developer course 2.0,0.55,114512.0
2485,19649.0,angular 4 (formerly angular 2) - the complete ...,0.90,73783.0
2484,16976.0,javascript: understanding the weird parts,0.69,79612.0
2497,15117.0,modern react with redux,0.62,50815.0
2492,11580.0,learn and understand angularjs,0.87,59361.0
2493,11123.0,learn and understand nodejs,0.73,58208.0
2476,8629.0,learn html5 programming from scratch,0.82,268923.0
2504,8341.0,angular 2 with typescript for beginners: the p...,0.74,40070.0
1797,7676.0,pianoforall - incredible new way to learn pian...,0.96,75499.0

7. A partir dos dez cursos mais vistos, mostre: 1) qual tem o maior número de inscritos; 2) qual tem o maior **rate** (avaliação do curso).

In [80]:
lista = cursos.sort_values('num_reviews', ascending=False).head(10)
mais_inscritos = lista['num_subscribers'].idxmax()
cursos['course_title'][mais_inscritos]

'learn html5 programming from scratch'

In [79]:
lista = cursos.sort_values('num_reviews', ascending=False).head(10)
rate = lista['Rating'].idxmax()
cursos['course_title'][rate]

'pianoforall - incredible new way to learn piano & keyboard'

8. Dos cursos listados na base de dados, qual tem maior duração em horas?

In [58]:
cursos.sort_values("content_duration", ascending=False).head(5)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
1358,978576.0,the complete figure drawing course hd,https://www.udemy.com/the-complete-figure-draw...,50.0,1323.0,136.0,225.0,Beginner Level,0.37,78.5,2016-10-11T21:40:06Z,Graphic Design
2742,548278.0,the complete web development course - build 15...,https://www.udemy.com/complete-web-development...,200.0,7501.0,1213.0,384.0,All Levels,0.42,76.5,2015-11-09T22:01:02Z,Subject: Web Development
253,375594.0,financial management - a complete study,https://www.udemy.com/financial-management-a-c...,190.0,1941.0,128.0,527.0,All Levels,0.89,71.5,2014-12-22T16:57:30Z,Business Finance
727,167316.0,trader bot: introdução à linguagem mql5,https://www.udemy.com/intro-mql5/,20.0,209.0,33.0,33.0,All Levels,0.66,70.0,2014-03-07T15:13:45Z,Business Finance
1203,62721.0,anatomy for figure drawing: mastering the huma...,https://www.udemy.com/anatomy-for-figure-drawi...,95.0,15500.0,754.0,65.0,Beginner Level,0.41,68.5,2013-10-16T11:37:30Z,Graphic Design

In [50]:
cursos['content_duration'].idxmax()

'the complete figure drawing course hd'

In [64]:
duracao = cursos['content_duration'].idxmax()
cursos['course_title'][duracao]

'the complete figure drawing course hd'

9. Dos cursos listados na base de dados, qual tem o maior número de aulas (*lectures*)?

In [81]:
cursos.sort_values("num_lectures", ascending=False).head(5)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
2556,79154.0,back to school web development and programming...,https://www.udemy.com/back-to-school-web-devel...,200.0,18170.0,117.0,779.0,All Levels,0.40,44.5,2013-08-19T14:53:00Z,Subject: Web Development
254,543242.0,learn to trade the news,https://www.udemy.com/learn-to-trade-the-news/,200.0,1924.0,351.0,544.0,All Levels,0.30,46.5,2015-07-16T22:03:29Z,Business Finance
3474,978728.0,"thoughtful web development course: html, vue.j...",https://www.udemy.com/web-development-html5-cs...,200.0,842.0,144.0,536.0,Beginner Level,0.80,25.0,2016-10-11T14:18:27Z,Subject: Web Development
253,375594.0,financial management - a complete study,https://www.udemy.com/financial-management-a-c...,190.0,1941.0,128.0,527.0,All Levels,0.89,71.5,2014-12-22T16:57:30Z,Business Finance
2757,481696.0,code & grow rich: earn more as an entrepreneur...,https://www.udemy.com/code-grow-rich-earn-more...,200.0,7211.0,52.0,491.0,All Levels,0.29,57.0,2016-02-10T01:09:19Z,Subject: Web Development

In [69]:
aulas = cursos["num_lectures"].idxmax()
cursos['course_title'][aulas]

'back to school web development and programming bundle'

10. Apresente o número (contagem) de cursos agrupados por nível (coluna *level*).

In [21]:
cursos.groupby("level").count()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration,published_timestamp,subject
level,,,,,,,,,,,
All Levels,1925,1925,1925,1925,1925,1925,1925,1925,1925,1925,1925
Beginner Level,1271,1271,1271,1271,1271,1271,1271,1271,1271,1271,1271
Expert Level,58,58,58,58,58,58,58,58,58,58,58
Intermediate Level,422,422,422,422,422,422,422,422,422,422,422

In [20]:
cursos.groupby('level')['course_id'].count()

level
All Levels            1925
Beginner Level        1271
Expert Level            58
Intermediate Level     422
Name: course_id, dtype: int64

11. Quais são os cursos mais recentes contidos na base de dados?

In [19]:
cursos.sort_values('published_timestamp', ascending=False).head(10)[['course_title','published_timestamp']]

                                           course_title   published_timestamp
1183  cryptocurrency (btc & eth) investment & tradin...  2017-07-06T21:46:30Z
1164  forex how traders beat the markest with little...  2017-07-06T21:16:13Z
1027  condor broken wing butterfly options trading c...  2017-07-06T19:47:16Z
2465  abrsm grade iii piano class - handel sonatina ...  2017-07-06T16:12:34Z
3677                            angular 4 front to back  2017-07-06T15:04:55Z
1504     photoshop isn't like what you imagine a to z .  2017-07-06T03:32:48Z
1166  practical film financing: finding & pitching i...  2017-07-05T21:46:55Z
1142        bitcoin & ethereum course (2 course bundle)  2017-07-05T19:06:26Z
2475                              4 week rhythm mastery  2017-07-05T16:07:44Z
1156  options trading foundation: your journey to co...  2017-07-05T04:41:54Z

12. Apresente o número (contagem) de cursos agrupados por nível (coluna *level*) e por assunto (coluna *subject*).

In [16]:
cursos.groupby(['level', 'subject'])['course_id'].count()

level               subject
All Levels          Business Finance            633
                    Graphic Design              335
                    Musical Instruments         324
                    Subject: Web Development    633
Beginner Level      Business Finance            399
                    Graphic Design              184
                    Musical Instruments         266
                    Subject: Web Development    422
Expert Level        Business Finance             25
                    Graphic Design                7
                    Musical Instruments          12
                    Subject: Web Development     14
Intermediate Level  Business Finance            134
                    Graphic Design               76
                    Musical Instruments          78
                    Subject: Web Development    134
Name: course_id, dtype: int64

13. Disponibilize suas análises em um repositório do Github e compartilhe o link abaixo.

In [ ]:
# https://github.com/AntoniaCristinaCosta/Projeto_final

14. Crie uma conta no <a href="https://www.kaggle.com/datasets/thedevastator/udemy-courses-revenue-generation-and-course-anal">Kaggle</a> e crie um Notebook com as análises feitas neste projeto. A ideia aqui, é que você comece a criar um portfólio de análise de dados na plataforma :)

In [ ]:
#https://www.kaggle.com/antoniacristina/projeto-analise-de-dados